<fieldset>
    <legend>Problema {{problem.id}}</legend>
</fieldset>
<div class="panel panel-default">
    <div class="panel-heading">
        Detalhes do Problema
    </div>
    <div class="panel-body">
        <label>Descrição: </label>
        </span>{{problem.descricao}}
        <br/>
        <label>Resposta: </label>
        </span>{{problem.resposta}}
        <br/>
        <label>Relator </label>
        </span>{{problem.nome_relator}}
        <br/>
        <label>Status </label>
        </span>{{problem.nome_status}}
        <br/>
        <label>Criado em : </label>
        </span>{{problem.created_at}}
        <br/>
        <label>Modificado em : </label>
        </span>{{problem.updated_at}}
        <br/>
        <div class="pull-right">
            <a ui-sref="problemsIndex" class="btn btn-primary">Voltar</a>
            <a ui-sref="problemsEdit({id:problem.id})" class="btn btn-primary">Editar</a>
        </div>
    </div>
</div>
